body{
    background-color: #121212;
    color: #f5f5f5;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

button {
    background-color: #00adb5;
    color: #f5f5f5;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #019ca3;
}

.card {
    background-color: #1e1e1e;
    border: 1px solid #333;
    border-radius: 12px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
}